<!-- #f é o nome que o angular ira enxergar no typescript e ngForm é a tipagem   -->
<form #f="ngForm" (ngSubmit)="enviarContato(f)" > 
  <label>Seu nome
    <input id="nome" type="text" name="nomeCompleto" placeholder="Seu nome..."
      #nomeCompleto="ngModel" ngModel minlength="2" required >
  </label>

  <div *ngIf="nomeCompleto.errors?.required && nomeCompleto.touched" class="error">
    O nome é obrigatório
  </div>

  <label ngModelGroup="contato" #contatoUsuario="ngModelGroup" >
    <span>Email</span>  
    <input type="email" name="email" placeholder="Seu email..." ngModel required >

    <span>Mensagem</span>  
    <input type="text" name="mensagem" placeholder="Sua mensagem..." ngModel required >

  </label>

  <button type="submit" [disabled]="f.invalid" >Sign up</button>

</form>

<p>
  {{nomeCompleto.errors | json}}
</p>


   <p>
    {{f.controls.nomeCompleto?.errors | json}}
  </p>